# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: FunnyInk - Custom comic strips, personalized cards and drawings
email: contact@funnyink.net
description: >- # this means to ignore newlines until "baseurl:"
  This is the homepage for FunnyInk. Here you can follow my web comic series. You can also see my portfolio of custom comic strips, drawings, birthday cards and more. If you'd like a custom drawing made just for you or if you'd like to buy products of my drawings you can visit my shop! 
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://www.funnyink.net" # the base hostname & protocol for your site, e.g. http://example.com
twitter_username: jekyllrb
github_username:  jekyll
# Google Analytics
google_analytics: UA-133285622-1

permalink: /:title/

# Build settings
markdown: kramdown
theme: minima

plugins:
  - jekyll-sitemap
  - jekyll-feed

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
