---
layout: default
---
<div class="text-center box">
    <div class="container">

        <h2 class="">Who I am?</h2>
        <div class="text-field">
           <p>I'm Judith van der Stouw, a Netherlands based illustrator. My inspiration comes from the stranger inhabitants of the animal kingdom! I bring these animals to light by immortalizing them in ink. I sell these illustrations on postcards and other products, and they also feature in a column in Gay News magazine. I am also part of a children's book project for which I create the illustrations.</p>
        </div>

        <div class="row">
            {% for category in site.categories offset:1 %}
                {% assign cat = category | first %}
                
                {% for post in site.categories[cat] limit:1 %}
                {% assign categoryName = category | first %}
                    <div class="col-md-6 col-sm-6 image-preview image-link">
                        <a href="{{site.baseurl}}/categories/{{categoryName}}">            
                            <img src="{{site.baseurl}}{{post.imageurl}}" alt="{{post.title}}" />
                            <h3>{{ categoryName }}</h3>
                        </a>
                    </div>
                {% endfor %}
                
            {% endfor %}
        </div>
    </div>
</div>
