---
layout: default

---
<div class="text-center box">
    <div class="container">

        <h2 class="">Who am I?</h2>
        <div class="text-field">
           <p>I'm Judith van der Stouw; I create ink illustrations of animals, watercolors of landscapes, logos, and custom comic strips.</p>
        </div>

        <h2 class="">Portfolio</h2>
        <div class="row">
            {% for category in site.categories reversed %}
                {% assign cat = category | first %}
                
                {% for post in site.categories[cat] limit:1 %}
                {% assign categoryName = post.category  | remove: ".html" | remove: "categories/" %}
                <div class="col-md-4 col-sm-4 image-preview image-link">
                    <a href="{{site.baseurl}}/categories/{{categoryName}}">            
                        <img src="{{site.baseurl}}{{post.imageurl}}" alt="{{post.title}}" />
                        <h3>{{ categoryName }}</h3>
                    </a>
                </div>
                {% endfor %}
                
            {% endfor %}
        </div>
    </div>
</div>
