---
layout: default

---
<div class="text-center box">

    <h2 class="">My work</h2>

    <div class="container">
        <div class="row">
            {% for category in site.categories reversed %}
                {% assign cat = category | first %}
                
                {% for post in site.categories[cat] limit:1 %}
                {% assign categoryName = post.category  | remove: "categories/" | remove: ".html" %}
                <div class="col-md-6 col-sm-6 image-preview image-link">
                    <a href="{{site.baseurl}}/categories/{{categoryName}}">            
                        <img src="{{site.baseurl}}{{post.imageurl}}" alt="{{post.title}}" />
                        <h3>{{categoryName}}</h3>
                    </a>
                </div>
                {% endfor %}
                
            {% endfor %}
        </div>
    </div>
</div>
