<footer>
  <div class="container box">
    <p>Email: <a href="mailto:{{site.email}}">{{site.email}}</a></p>
    <p>KvK: 73681296</p>
    <p>BTW: NL221604637B01</p>
    
    <br>
    <p>Or follow me on social media</p>
    <ul>
      <li><a href="https://www.patreon.com/join/funnyink"><img src="{{site.baseurl}}/assets/images/patreon_logo.png" alt="patreon"></a></li>
      <li><a href="https://www.instagram.com/funnyinketsy/"><img src="{{site.baseurl}}/assets/images/instagram_logo.png" alt="instagram"></a></li>
      <li><a href="https://www.facebook.com/FunnyInkEtsy"><img src="{{site.baseurl}}/assets/images/facebook_logo.png" alt="facebook"></a></li>
    </ul>
  </div>
</footer>
