<header>

  <div class="banner box container mt-0">
    <h1 class="text-bold title">Inkdier</h1>
    <a href="{{site.url}}">
      <img src="{{site.baseurl}}/assets/images/logo.jpg" alt="logo">
    </a>

    <ul class="navbar justify-content-center">
      <li><a href="{{site.url}}">Portfolio</a></li>
      <!-- <li><a href="{{site.url}}/webcomic">Webcomic</a></li> -->
      <!-- <li><a href="{{site.baseurl}}/archive">Archive</a></li> -->
      <li><a href="{{site.baseurl}}/shop">Shop</a></li>
      <li><a href="{{site.baseurl}}/about">About</a></li>
      <!-- <li><a href="{{site.baseurl}}/portfolio">Portfolio</a></li> -->
    </ul>

  </div>

  <hr class="inkline">
</header>
