<header>

  <div class="banner box container">
    <a href="{{site.url}}">
      <img src="{{site.baseurl}}/assets/images/funnyink.jpg">
    </a>

    <ul class="navbar">
      <li><a href="{{site.baseurl}}/archive">Archive</a></li>
      <li><a href="{{{{site.posts[random].url}}}}" id="randompost">Random</a></li>
      <li><a href="https://www.etsy.com/shop/FunnyInk">Shop</a></li>
    </ul>

  </div>
</header>

<script type="text/javascript">
  var postsArray = [{% for post in site.posts %}"{{ post.url }}"{% unless forloop.last %},{% endunless %}{% endfor %}];
  randomIndex = Math.floor(Math.random() * postsArray.length);
  $("#randompost").attr("href", postsArray[randomIndex]);
</script>
