<header>

  <div class="banner box container">
    <h1 class="text-bold title">FunnyInk</h1>
    <a href="{{site.url}}">
      <img src="{{site.baseurl}}/assets/images/funnyink.jpg" alt="logo">
    </a>

    <ul class="navbar">
      <li><a href="{{site.url}}">Home</a></li>
      <li><a href="{{site.url}}/webcomic">Webcomic</a></li>
      <!-- <li><a href="{{site.baseurl}}/archive">Archive</a></li> -->
      <li><a href="{{site.baseurl}}/shop">Shop</a></li>
      <li><a href="{{site.baseurl}}/portfolio">Portfolio</a></li>
    </ul>

  </div>
</header>