@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900');

// Import external/online fonts
@font-face {
    font-family: 'Noto Sans KR', sans-serif;
}

// Import local fonts
@font-face {
    src: url("assets/fonts/Norse.otf");
    font-family: 'Norse';
}