footer {
    a, a:hover, a:visited {
        color: #9c7b52;
    }
       
    p {
        margin: 0;
    }
    .container {
        padding: 10pt;
    }

    ul {
        display: table;
        margin: auto;
        padding: 0;

        list-style: none;
        li {
            float: left;
            margin: 0 3pt;
        }
    }

    img {
        max-height: 20pt;
        transition: opacity ease-in-out 0.1s;
        opacity: 0.8;
    }

    img:hover {
        transition: opacity ease-in-out 0.1s;
        opacity: 1;
    }
}
