.banner {
    a{
        text-decoration: none;
        color: initial;
    }

    a:hover {
        color: #9c7b52;
    }

    img {
        height: 150pt;
        margin: 10pt;
        // border-radius:95% 4% 92% 5%/4% 95% 6% 95%;
        // border: solid 2pt #000;
    }
}

.navbar {
    list-style: none;
    margin: 4pt;
    padding: 0;
    min-height: 0;

    li {
        display: inline;
        margin: 10pt;
    }

    a {
        display: inline-block;
        height: 20pt;
        line-height: 18pt; // = height - border-width
        
        text-decoration: none;
        color: inherit;
    }

    a:hover {
        color: #9c7b52;    
    }
}
