.banner {
    a{
        text-decoration: none;
        font-weight: bold;
    }

    a:hover {
        color: gray;
    }

    img {
        height: 150pt;
        margin: 10pt;
    }
}

.navbar {
    list-style: none;
    margin: 4pt;
    padding: 0;
    min-height: 0;
    font-size: 18pt;

    li {
        display: inline;
        margin: 10pt;
    }

    a {
        display: inline-block;
        height: 20pt;
        line-height: 18pt; // = height - border-width
        
        text-decoration: none;
        font-weight: bold;
        color: inherit;
    }

    a:hover {
        color: gray;    
    }
}

.title {
    font-size: 40pt;
    font-weight: bolder;
}
