html, body {
    background-color: #fff;
    text-align: center;
    height: 100%;
    min-width: 250pt;

    // background-image: url("/assets/images/background.jpg");
    background-repeat: repeat-y;
    background-size: 100% auto;
    color: #000;
}

.box {
    background-color: #fff;

    // border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    // border:solid 2px #41403E;
}

.text-bold {
    font-weight: bold;
}

.text-field {
    text-align: center;
    margin: auto;
    max-width: 300pt;
}

.container {
    max-width: 600pt;
    height: 100%;
    margin: 10pt auto;

    z-index: 10;
    position: relative;
}

.outer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
  }
  
.middle {
    display: block;
    padding: 0 10pt;
  }

.comic {
    img {
        width: 100%;
        border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
        border: solid 2pt #000;
    }
}

.comic-title {
    h1 {
        margin-bottom: 0;
    }

    h2 {
        margin: 0;
    }
}

.comic-navbar {
    margin: 10pt 0;

    li {
        margin: 0;
    }

    a {
        width: 20%;
        min-width: 50pt;

        background-color: #fff;
        border-style: solid;
        border-radius:95% 4% 92% 5%/4% 95% 6% 95%;
        border-color: black;
        border-width: 2pt;
    }

    a.disabled {
        background-color: grey;
        color: #555;
        pointer-events: none;
    }

    a:hover {
        background-color: #eee;
        text-decoration: none;        
    }
}

@media screen and (max-width: 315px){
    .comic-navbar a{   
            width: 80pt;
    }
}

hr.inkline {
    margin: 0;
    border: none;
    height: 30px;
}

hr.inkline::before {
    content: url("assets/images/inkline1.png");
}

