html, body {
    background-color: #ddd;
    text-align: center;
    height: 100%;
}

.box {
    border-style: solid;
    border-width: 1px;
    background-color: #eee;
    background-image: url("assets/images/paper.png");

    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    border:solid 2px #41403E;

    box-shadow: 3pt 4pt 5pt #777;   
}

.container {
    max-width: 600pt;
    height: 100%;
    margin: 10pt auto;
}

.outer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
  }
  
.middle {
    display: block;
  }

.comic {
    img {
        width: 70%;
    }
}

@media screen and (max-device-width: 640px){
    .comic {
        img {
            width: 100%;
        }
    }
}

.comic-navbar {
    margin: 10pt 0;

    li {
        margin: 0;
    }

    a {
        width: 80pt;

        background-color: #fff;
        border-style: solid;
        border-radius: 10pt;
        border-color: gray;
        border-width: 2pt;
    }

    a:hover {
        background-color: #eee;
        text-decoration: none;        
    }
}