html, body {
    background-color: #ddd;
    text-align: center;
}

.comic-container {
    text-align: center;
    min-width: 800px;

    height: 500px;

    border-style: solid;
    border-width: 1px;
    background-color: #eee;
}