.img-modal {
    cursor: zoom-in;
}

.modal-header {
    span {
        font-size: 20pt;
    }
    border: none;
}

.modal {
    text-align: center;
    padding: 0!important;
}
  
.modal:before {
content: '';
display: inline-block;
height: 100%;
vertical-align: middle;
margin-right: -4px; /* Adjusts for spacing */
}

.modal-dialog {
display: inline-block;
text-align: left;
vertical-align: middle;
}


.modal-body 
{
    .modal-title 
    {
        text-align: center;
        font-weight: bold;
    }

    .modal-description 
    {
        width: 75%;
        margin: auto;
        text-align: center;
    }
}
