.image-preview {
    margin: 15pt 0;
    height: 150pt;

    img {
        max-width: 100%;
        max-height: 120pt;
        height: 100%;
        width: auto;
    }
    h3 {
        padding: 0;
        margin: 5pt 0;
    }
}

.image-link {
    a {
        transition: color ease-in-out 0.1s;
        text-decoration: none;
        color: black;
    }
    
    img {
        height: 100%;
        transition: opacity ease-in-out 0.1s;
        opacity: 1.0;
    }
    
    a:hover {
        transition: color ease-in-out 0.1s;
        color: grey;
    
        img {
            transition: opacity ease-in-out 0.1s;
            // opacity: 0.8;
        }
    }
}
