.social-container {
    max-width: 200pt;
}

.shop-container {
    width: 100%;
}

.link-tile {
    margin: 5pt 0;
    padding: 0;
    img {
        height: auto;
        max-height: 50pt;

        transition: opacity ease-in-out 0.1s;
        opacity: 0.8;
    }
}

.link-tile:hover {
    a {
        text-decoration: none;
    }
    img{
        transition: opacity ease-in-out 0.1s;
        opacity: 1;
    }
}