.social-container {
    max-width: 200pt;
}

.shop-container {
    width: 100%;
}

.link-tile {
    margin: 20pt 0;

    img {
        height: auto;
        max-height: 200pt;

        transition: opacity ease-in-out 0.1s;
        opacity: 1;
    }
}

.tile-small {
    img {
        max-height: 30pt;
    }
}

.link-tile:hover {
    a {
        text-decoration: none;
    }
    img{
        transition: opacity ease-in-out 0.1s;
        opacity: 0.8;
    }
}