html, body {
    font-family: Norse, Noto Sans KR;
    font-size: 14pt;
    font-weight: 200;
}

h1 {
    font-size: 50pt;
}

h2 {
    font-size: 40pt;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 100;
}

.navbar {
    font-size: 30pt;
    font-weight: 100;
}

.title {
    font-family: Norse;
    font-size: 50pt;
    font-weight: normal;
}

.comic-navbar {
    font-size: 10pt;
}

.image-preview {
    h3 {
        font-size: 15pt;
    }
}

footer {
    font-size: 15pt;
}
