<!DOCTYPE html>
	<html lang="en">
		<head>
			<title>{{site.title}}</title>
			<meta charset="UTF-8"> 
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<meta name="robots" content="index, follow">
			<meta name="description" content="{{site.description}}">
			<link rel="canonical" href="{{site.baseurl}}">

			<!-- externals -->
			<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
			<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/main.css">

			<!-- scripts -->
			<script src="{{site.baseurl}}/assets/js/mobile-check.js"></script>
			<script src="{{site.baseurl}}/assets/js/randomPost.js"></script>

		</head>
		<body>
		<div class="outer">
			<div class="middle">
				{% include header.html %}

				{{ content }}

				{% include footer.html %}
			</div>
		</div>
		</body>
	</html>
