---
layout: default
---

<div class="text-center container box">
    <div class="comic-title">
        <h1>{{page.title}}</h1>
    </div>
    <ul class="navbar comic-navbar">
        {% if page.previous.url %}
            <li><a href="{{page.previous.url}}" disabled>Previous</a></li>
        {% endif %}
        {% if page.next.url %}
            <li><a href="{{page.next.url}}">Next</a></li>
        {% endif %}
    </ul>
    <div class="comic">
        <a href="{{site.baseurl}}/assets/images/{{page.images[0].url}}">
            <img src="{{site.baseurl}}/assets/images/{{page.images[0].url}}">
        </a>
    </div>
    <ul class="navbar comic-navbar">
        {% if page.previous.url %}
            <li><a href="{{page.previous.url}}">Previous</a></li>
        {% endif %}
        {% if page.next.url %}
            <li><a href="{{page.next.url}}">Next</a></li>
        {% endif %}
    </ul>

    <p>Permanent link to this comic: <a href="{{site.url}}{{page.url}}">{{site.url}}{{page.url}}</a></p>
    <p>Image URL (for hotlinking/embedding): <a href="{{site.url}}/assets/images/{{page.images[0].url}}">{{site.url}}/assets/images/{{page.images[0].url}}</a> </p>
</div>
  