---
layout: default
---

<div class="text-center container box">
    <div class="comic-title">
        <h1>{{page.category}}</h1>
        <h2>{{page.title}}</h2>
    </div>
    <ul class="navbar comic-navbar">
        <li><a href="{{page.next.url}}"{% if page.next.url == null %}class="disabled"{% endif %}>< Previous</a></li>
        <li><a href="{{page.previous.url}}"{% if page.previous.url == null %}class="disabled"{% endif %}>Next ></a></li>
    </ul>
    <div class="comic">
        <a href="{{site.baseurl}}/comics/{{page.images[0].url}}">
            <img src="{{site.baseurl}}/comics/{{page.images[0].url}}" alt="comic_image">
        </a>
    </div>
    <ul class="navbar comic-navbar">
        <li><a href="{{page.next.url}}"{% if page.next.url == null %}class="disabled"{% endif %}>< Previous</a></li>
        <li><a href="{{page.previous.url}}"{% if page.previous.url == null %}class="disabled"{% endif %}>Next ></a></li>
    </ul>

    <p>Permanent link to this comic: <a href="{{site.url}}{{page.url}}">{{site.url}}{{page.url}}</a></p>
    <p>Image URL (for hotlinking/embedding): <a href="{{site.url}}/comics/{{page.images[0].url}}">{{site.url}}/comics/{{page.images[0].url}}</a> </p>
</div>
  