---
layout: default
---

<!-- Make links for next and previous post -->
{% assign cat = page.category %}

{% for post in site.categories[cat] %}
  {% if post.url == page.url %}
    {% assign post_index0 = forloop.index0 %}
    {% assign post_index1 = forloop.index %}
  {% endif %}
{% endfor %}

{% for post in site.categories[cat] %}
  {% if post_index0 == forloop.index %}
    {% assign next_post = post %}
  {% endif %}
  {% if post_index1 == forloop.index0 %}
    {% assign prev_post = post %}
  {% endif %}
{% endfor %}

<div class="text-center container box" id="comic_box">
    <div class="comic-title">
        <h1>{{page.series}}</h1>
        <h2>{{page.title}}</h2>
    </div>

    <ul class="navbar comic-navbar">
        {% for post in site.categories[cat] limit:1 %}
        <li><a href="{{post.url}}"{% if post.url == null %} class="disabled"{% endif %}>|&lt;</a></li>
        {% endfor %}
        <li><a href="{{next_post.url}}"{% if next_post == null %} class="disabled"{% endif %}>&lt; Prev</a></li>
        <li><a href="{{prev_post.url}}"{% if prev_post == null %} class="disabled"{% endif %}>Next ></a></li>
        
        {% assign posts = site.categories[cat] | sort: 'date' %}
        {% for post in posts limit:1 %}
            <li><a href="{{post.url}}"{% if post.url == null %} class="disabled"{% endif %}>>|</a></li>
        {% endfor %}
    </ul>

    <div class="comic">
        <img src="{{site.baseurl}}{{page.imageurl}}" alt="{{page.title}}">
    </div>

    <ul class="navbar comic-navbar">
        {% for post in site.categories[cat] limit:1 %}
        <li><a href="{{post.url}}"{% if post.url == null %} class="disabled"{% endif %}>|&lt;</a></li>
        {% endfor %}
        <li><a href="{{next_post.url}}"{% if next_post == null %} class="disabled"{% endif %}>&lt; Prev</a></li>
        <li><a href="{{prev_post.url}}"{% if prev_post == null %} class="disabled"{% endif %}>Next ></a></li>
        
        {% assign posts = site.categories[cat] | sort: 'date' %}
        {% for post in posts limit:1 %}
            <li><a href="{{post.url}}"{% if post.url == null %} class="disabled"{% endif %}>>|</a></li>
        {% endfor %}
    </ul>

    <p>Permanent link to this comic: <a href="{{site.url}}{{page.url}}">{{site.url}}{{page.url}}</a></p>
    <p>Image URL (for hotlinking/embedding): <a href="{{site.url}}/{{page.imageurl}}">{{site.url}}/{{page.imageurl}}</a> </p>
</div>
  
